{% extends 'base.html.twig' %}

{% block title 'dwira blanca' %}


{% block body %}
{% if posts|length >0 %}
   <h1 class="text-center text-muted mb-4"> {{ pluriel(posts|length,'Post','Posts') }} </h1>

   {% for row in posts|batch(3) %}
   <div class="row mb-5">
   {% for post in row %}
   <div class="col-md-4">
   <article class="bg-white rounded shadow post">
   <div class="mw-100 rounded-top overflow-hidden">
   {% if post.imageName %}
      <a href="{{  path('app_posts_details',{id: post.id }) }}"><img src="{{  vich_uploader_asset(post) | imagine_filter('squard_med') }}" alt="{{ post.title }}" class="w-100 "></a>  
      {% else %}
       <a href="{{  path('app_posts_details',{id: post.id }) }}"><img src="{{  asset('images/placeholder.jpg') | imagine_filter('squard_med') }}" alt="{{ post.title }}" class="w-100 "></a>
      {% endif %}
      </div>
      <h2 class="h5 ps-5 pt-3"><a href="{{  path('app_posts_details',{id: post.id }) }}" class="text-secondary text-muted text-decoration-none ">{{ post.title }}</a></h2>
      <p class="ps-5 pb-3 text-muted"><small>Submitted at {{ post.createdAt|ago }} by {{ post.user.userName }} </small></p>
       </article>
       </div>
      {% endfor %}
      </div>
      {% endfor %}
      
  
   {% else %}
    <p class="h1 text-center">No post Yet ! <a href="{{ path('app_posts_create')}}">Soyez le 1er a créer un post !</a></p>
   {% endif %}
{% endblock %}
 